.container{
    width:1200px;
    margin:0 auto;
}
/*header*/
.header{
    height: 108px;
}
.header-bar{
    height:36px;
    border-bottom: 1px solid #eee;
    background: #f7f7f7 ;
}
.header-bar .header-bar1{
    height:36px;
}
.header-left{
    float: left;
    display:inline-block;
    height:37px;
    width:177px;
    margin-top: 10px;
}
.header-bar .header-left .f1 {
    float: left;
    height:36px;
    display:block;
    margin-right: 10px; 
}
.header-bar .header-left span{
    display:inline-block;
    margin: 0 8px;
}
.header-right{
    float: right;
    width:50%;
    height:37px;
}
.header-bar .right-bar {
    line-height: 36px;
}
.header-bar .header-right .fr {
    float: right;
    display: block;
    padding-left: 10px;
}
.header-bar .header-right .fr:hover div{
    display:block;
}
.header-bar .header-right .mobile-show:hover{
    background:#fff;
    border:1px #ddd solid;
    border-bottom: none;
}
.header-bar .header-right i.icon-header-bar-help {
    margin-right: 4px;
    float: left;
}
.header-bar .header-right .text-earphone {
    font: 16px "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    color: #007857;
    display: inline-block;
    padding-top: 7px;
}
.header-bar .header-right .mobile-show {
    position: relative;
    width: 95px;
    height: 32px;
    line-height: 26px;
    margin-top: 4px;
    margin-left: 5px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
}
.header-bar .header-right .mobile-show .mobile-ahref {
    position: relative;
}
.mobile-ehsy-download {
    display: none;
    width: 310px;
    height: 170px;
    position: absolute;
    top: 32px;
    left: -1px;
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}
.header-right .mobile-show .mobile-ehsy-download .mobile-code {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 20px;
    left: 18px;
}
.header-right .mobile-show .mobile-ehsy-download .saoyisao {
    position: absolute;
    left: 158px;
    top: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    cursor: default;
}
.header-right .mobile-show .mobile-ehsy-download .shoujigouwu {
    position: absolute;
    left: 158px;
    top: 48px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #007857;
    cursor: default;
}
.header-right a {
    font-size: 12px;
    color: #666;
}
.header-right .mobile-show .mobile-ehsy-download .mo-ios-span {
    position: absolute;
    top: 117px;
    left: 159px;
    font-family: "Microsoft YaHei","黑体";
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.header-right .mobile-show .mobile-ehsy-download .mo-android-span {
    position: absolute;
    top: 117px;
    left: 210px;
    font-family: "Microsoft YaHei","黑体";
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.header-right .my-ehsy-show .my-ehsy {
    display: none;
    position: absolute;
    width: 294px;
    height: 110px;
    top: 36px;
    left: 693px;
    padding: 0 10px 15px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 1000;
}
.header-right .my-ehsy-show:hover{
    background: #fff;
    border:1px solid #ddd;
    border-bottom: none;
}
.header-right .my-ehsy-show .my-ehsy ul .orders {
    float: left;
    width: 98px;
}
.header-right .my-ehsy-show .my-ehsy li {
    position: relative;
    line-height: 25px;
}
.header-right .my-ehsy-show .my-ehsy ul .orders a {
    position: relative;
    padding-left: 20px;
    line-height: 38px;
    height: 38px;
}
.header-right .my-ehsy-show .my-ehsy ul .orders i {
    margin-right: 5px;
    display: inline-block;
    top: -9px;
    position: absolute;
    left: 0px;
}
/*主体上内容*/
.top {
    width: 1200px;
    margin: 0 auto;
    padding: 20px 12px;
    overflow-y: hidden;
}
.top .ehsy-logo {
    top: 15px;
    margin-left: 20px;
    float: left;
}
.top a {
    color: #0066cc;
    overflow: hidden;
}
.top .ehsy-logo img {
    width: 274px;
    height: 48px;
}
.top .doc-tit {
    float: left;
    font-size: 24px;
    color: #000;
}
.top span {
    margin-left: 30px;
    line-height: 48px;
}
.top .has-account {
    float: right;
}
.top a {
    color: #0066cc;
    overflow: hidden;
}
.mid-border {
    width: 100%;
    height: 5px;
    border-top: 2px solid #f7f3f3;
}
/*主体中*/
.layout-account {
    width: 1200px;
    margin: 0 auto;
    min-height: 300px;
}
.customer-container {
    overflow: hidden;
    margin-top: 15px;
}
.register-box {
    margin-top: 40px;
}
.customer-container * {
    box-sizing: border-box;
}
.register-box .register-step {
    text-align: center;
    height: 32px;
    font-size: 10px;
    width: 640px;
    margin: 0 auto;
    margin-top: 40px;
    color: rgba(144,143,143,0.5);
}
.register-box .register-step ul li {
    display: inline-block;
    padding: 0 2px;
    height: 32px;
    line-height: 32px;
    font-size: 14px;
}
.register-box .register-step .active {
    color: #067454;
}
.register-box .register-step .active .icon-one {
    background: url(../images/green-1.png) no-repeat;
}
.register-box .register-step .icon-one {
    background: url(../images/gray-1.png) no-repeat;
    margin: 0 4px -4px 4px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.register-box .register-step .icon-two {
    background: url(../images/gray-2.png) no-repeat;
    margin: 0 4px -4px 4px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.register-box .register-step .active .icon-two {
    background: url(../images/green-2.png) no-repeat;
}
.register-box .register-step .icon-three {
    background: url(../images/gray-3.png) no-repeat;
    margin: 0 4px -4px 4px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.register-box .register-step .active .icon-one {
    background: url(../images/green-1.png) no-repeat;
}
.register-box .register-step .icon-two {
    margin: 0 4px -4px 4px;
    width: 18px;
    height: 18px;
    display: inline-block;
}
.register-box .register-step .line {
    display: inline-block;
    width: 44px;
    height: 1px;
    border: none;
    border-top: 1px solid #C8C8C8;
    margin-bottom: 4px;
}
.register-title {
    margin-top: 64px;
}
.register-title {
    position: relative;
    z-index: 10;
    width: auto;
    margin-bottom: 110px;
    text-align: center;
    font-size: 0;
}
.register-title div.company-mode {
    height: 140px;
}
.register-title .js-register-tab {
    display: inline-block;
    position: relative;
    vertical-align: top;
    width: 200px;
    border: 1px solid #eee;
    text-align: center;
    cursor: pointer;
    font-size: 14px;
    background: rgba(234,234,234,0.41);
}
.register-title .icon-register-corner {
    background: url(../images/icon-register-corner.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    top: -11px;
    left: -8px;
    display: inline-block;
    width: 108px;
    height: 79px;
}
.register-title .icon-register-company {
    margin-top: 28px;
    background-image: url(../images/icon-register-company.png);
    width: 46px;
    height: 47px;
    display: inline-block;
}
.register-title .active .icon-register-company {
    background-image: url(../images/icon-register-company-white.png);
}
.register-title div span {
    font-size: 18px;
    color: #007857;
    margin-top: 3px;
}
.register-title div span {
    display: block;
}
.register-title div.personal-mode {
    margin-left: 100px;
    height: 140px;
}
.register-title .active {
    background-color: #007857;
    border: none;
    border-bottom: 5px #fff solid;
    box-shadow: 0 1px 10px 0 rgba(6,116,84,0.34), 0 -4px 0 0 rgba(255,255,255,1);
}
.register-title div.personal-mode {
    margin-left: 100px;
    height: 140px;
}
.register-title .active .icon-register-preson {
    background-image: url(../images/icon-register-preson-white.png);
}
.register-title .icon-register-preson {
    margin-top: 29px;
    background-image: url(../images/icon-register-preson.png);
    width: 43px;
    height: 46px;
    display: inline-block;
}
.register-title .active span {
    color: #FFFFFF;
}
.register-title div span {
    font-size: 18px;
    color: #007857;
    margin-top: 3px;
}
.main-content {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}
.register-form-wrap .register-form {
    position: relative;
}
input {
    font-size: 14px;
    color: #333;
}
.register-form-wrap .register-form .register-company-info {
    clear: both;
}
.register-form-wrap .register-form .register-company-info, .register-form-wrap .register-form .personal-info {
    float: inherit;
    padding-top: 76px;
    position: relative;
    width: 640px;
    height: 347px;
    background: rgba(247,247,247,0.41);
    margin: 0 auto;
    margin-top: 21px;
}
.register-form-wrap .register-form .form-item {
    position: relative;
    margin-bottom: 44px;
    width: 100%;
    clear: both;
}
.register-form-wrap .register-form .form-label {
    display: inline-block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    width: 178px;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    color: #272727;
}
.register-form-wrap .register-form .form-label .redTips {
    color: red;
    vertical-align: sub;
    margin-right: 2px;
}
.register-form-wrap .register-form .form-content {
    display: block;
    display: inline-block;
    position: relative;
    width: 315px;
    height: 38px;
}
.red1>input, .red1>select{
    border:1px solid #f00 !important;
}
.register-form-wrap .register-form .form-content .form-input {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding-left: 12px;
    border-radius: 3px;
    border: 1px solid #C8C8C8;
}
.register-form-wrap .register-form .form-label {
    display: inline-block;
    text-align: right;
    height: 38px;
    line-height: 38px;
    width: 178px;
    margin-right: 20px;
    vertical-align: top;
    font-size: 18px;
    color: #272727;
}
.register-form-wrap .register-form .form-content .form-input.codeInput, .register-form-wrap .register-form .form-content .form-input.phoneTextCode {
    width: 165px;
}
.register-form-wrap .register-form .form-content .form-input {
    width: 100%;
    height: 38px;
    line-height: 38px;
    padding-left: 12px;
    border-radius: 3px;
    border: 1px solid #C8C8C8;
}
.register-form-wrap .register-form .form-content .getCode {
    display: inline-block;
    width: 118px;
    height: 34px;
    vertical-align: top;
    margin-left: 23px;
    margin-top: 2px;
    background-color: #067454;
    color: #FFFFFF;
    border: none;
    text-align: center;
    line-height: 36px;
    font-size: 14px;
    border-radius: 18px;
    cursor: pointer;
    white-space: nowrap;
}
.register-form-wrap .register-form .success-info {
    width: 640px;
    margin: 0 auto;
    padding-top: 72px;
}
.register-form-wrap .register-form .success-info .icon_suff {
    float: left;
    display: inline-block;
    background-image: url(../images/icon_suff.png);
    height: 113px;
    width: 113px;
}
.register-form-wrap .register-form .success-info .success {
    float: left;
    margin-left: 26px;
    color: #0D0D0D;
    font-size: 44px;
    display: inline-block;
    height: 113px;
    line-height: 113px;
}
.register-form-wrap .register-form .success-info .success-msg {
    letter-spacing: 1px;
    margin-top: 44px;
    padding: 23px;
    color: #272727;
    font-size: 14px;
    box-shadow: 0 -1px 0 rgba(200,200,200,1);
}
.register-form-wrap .register-form .success-info .success-msg .red {
    color: #FF1414;
}
.register-form-wrap .register-form .success-info .success-msg .green {
    color: #4165FF;
}
.register-form-wrap .register-form .form-step {
    width: 640px;
    margin: 0 auto;
    margin-bottom: 130px;
    text-align: center;
    margin-top: 44px;
    height: 54px;
    line-height: 54px;
}
.register-form-wrap .register-form .form-step .form-content {
    width: 100%;
    height: auto;
}
.register-form-wrap .register-form .form-item {
    position: relative;
    margin-bottom: 44px;
    width: 100%;
    clear: both;
}
label {
    cursor: default;
}
input[type=checkbox], input[type=radio] {
    box-sizing: border-box;
    padding: 0;
}
.register-form-wrap .register-form .form-step a.agreement {
    color: #4165FF;
}
.register-form-wrap .register-form .form-step button {
    margin: 0 39px;
    border: none;
    font-size: 24px;
    color: #FFFFFF;
    height: 54px;
    width: 234px;
    border-radius: 27px;
    background-color: #067454;
}
.register-form-wrap .register-form .form-step  .disabled {
    background-color: #C8C8C8;
}
.register-form-wrap .register-form .form-step a.reset-a {
    color: #4165FF;
    font-size: 14px;
    margin-left: 34px;
    position: absolute;
    top: 0;
    right: -14px;
}
 .register-message {
    position: absolute;
    top: -24px;
    padding-left: 21px;
    left: 200px;
    height: 18px;
    line-height: 18px;
    color: red;
    font-size: 14px;
    white-space: nowrap;
    background: url(../images/icon-attention.png) no-repeat 4px 2px;
}
.register-message1 {
    position: absolute;
    top: -24px;
    padding-left: 21px;
    left: 0px;
    height: 18px;
    line-height: 18px;
    color: red;
    font-size: 14px;
    white-space: nowrap;
    background: url(../images/icon-attention.png) no-repeat 4px 2px;
}
.validate-error {
    color: #FF1414 !important;
}

/*下部上*/
.layout-footer-content .footer-box {
    background: #f3f3f3;
    margin-top: 30px;
}
.layout-footer-content .footer-box .footer-a-bd {
    height: 88px;
    line-height: 88px;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
.layout-footer-content .footer-box .footer-a-bd div {
    float: left;
    width: 25%;
}
.layout-footer-content .footer-box .icon-slogans-01 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll 0 0;
}
.layout-footer-content .footer-box .icon-slogans-01, .icon-slogans-02, .icon-slogans-03, .icon-slogans-04 {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
.layout-footer-content .footer-box .footer-a-span, .layout-footer-content .footer-box .footer-b-span {
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 16px;
}
.footer-a-span {
    margin-left: 10px;
}
.footer-b-span {
    margin-left: 10px;
}
.layout-footer-content .footer-box .icon-slogans-02 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll -48px 0;
}
.layout-footer-content .footer-box .icon-slogans-03 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll 0 -48px;
}
.layout-footer-content .footer-box .icon-slogans-04 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll -48px -48px;
}
/*下部中*/
.footer-b {
    width: 100%;
    color: #333;
}
.footer-b-bd {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.foot-help {
    margin-bottom: 10px;
}
.footer-b-li {
    float: left;
    width: 222px;
    min-height: 180px;
}
.footer-b-li-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.footer-b-li li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
}
.footer-b-li li a {
    color: #666;
}
.footer-b-li-2 {
    float: right;
    width: 270px;
    margin-top: 30px;
    text-align: right;
}
.foot-phone {
    height: 48px;
    margin-bottom: 15px;
}
.foot-phone img {
    vertical-align: top;
}
.footer-wx {
    width: 48px;
    height: 48px;
}
.foot-phone>div {
    display: inline-block;
    width: 160px;
}
.foot-phone-1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}
.foot-phone-2 {
    line-height: 16px;
    margin-top: 16px;
}
.foot-phone-1, .foot-phone-2 {
    font-family: "Century Gothic",sans-serif;
}
.foot-download div {
    float: right;
    width: 99px;
    margin-left: 15px;
    text-align: center;
}
.foot-download img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 2px;
}
.foot-download span {
    font-size: 12px;
    float: left;
}
.copyright-ul {
    margin: 15px 0;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
}
.copyright-ul a {
    padding: 0 20px;
}
.copyright-ul span {
    color: #ddd;
}
.copyright-state {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
.credit-bar {
    margin-top: 16px;
    margin-bottom: 60px;
}
.credit-bar a {
    display: inline-block;
    overflow: hidden;
    margin-right: 16px;
}
.credit-bar a img {
    width: auto;
}
/*下部下*/

.ehsy-sidebar {
    background-color: #2e9b64;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    z-index: 999;
}
 .ehsy-sidebar-tabs {
    margin-top: -76px;
    position: absolute;
    right: 0;
    top: 50%;
}
 .ehsy-sidebar-tabs > div {
    background-color: #2e9b64;
    border-radius: 4px;
    height: 36px;
    margin-bottom: 2px;
    position: relative;
    width: 40px;
}
 .ehsy-sidebar-tabs > div div {
    height: 36px;
    left: 0;
    position: absolute;
    width: 36px;
}
 .ehsy-sidebar i {
    display: block;
    margin: 6px auto;
    max-width: 24px;
    cursor: pointer;
}
 .icon-rb-account {
    background-position: 0 0;
}
.icon-right-bar {
    background-image: url(../images/icon-bar.png);
    height: 24px;
    width: 24px;
}
 div#nb_icon_wrap_qiye_new img {
    display: inline-block;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
 .ehsy-sidebar-footer {
    background-color: #e1e1e1;
    border-radius: 4px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    height: 36px;
    position: absolute;
    right: 6px;
    width: 36px;
}
 .icon-rb-top {
    background-position: 0 -72px;
}
 .ehsy-sidebar-footer span {
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 14px;
    margin: 4px auto;
    width: 24px;
}
.layout-right-bar {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 999;
}