.container{
    width:1200px;
    margin:0 auto;
}
/*header*/
.header{
    height: 108px;
}
.header-bar{
    height:36px;
    border-bottom: 1px solid #eee;
    background: #f7f7f7 ;
}
.header-bar .header-bar1{
    height:36px;
}
.header-left{
    float: left;
    display:inline-block;
    height:37px;
    width:240px;
    margin-top: 10px;
}
.header-bar .header-left .f1 {
    float: left;
    height:36px;
    display:block;
    margin-right: 10px; 
}
.header-bar .header-left span{
    display:inline-block;
    margin: 0 8px;
}
.header-right{
    float: right;
    width:50%;
    height:37px;
}
.header-bar .right-bar {
    line-height: 36px;
}
.header-bar .header-right .fr {
    float: right;
    display: block;
    padding-left: 10px;
}
.header-bar .header-right .fr:hover div{
    display:block;
}
.header-bar .header-right .mobile-show:hover{
    background:#fff;
    border:1px #ddd solid;
    border-bottom: none;
}
.header-bar .header-right i.icon-header-bar-help {
    margin-right: 4px;
    float: left;
}
.header-bar .header-right .text-earphone {
    font: 16px "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    color: #007857;
    display: inline-block;
    padding-top: 7px;
}
.header-bar .header-right .mobile-show {
    position: relative;
    width: 95px;
    height: 32px;
    line-height: 26px;
    margin-top: 4px;
    margin-left: 5px;
    border-left: 1px solid #f7f7f7;
    border-right: 1px solid #f7f7f7;
    border-top: 1px solid #f7f7f7;
}
.header-bar .header-right .mobile-show .mobile-ahref {
    position: relative;
}
.mobile-ehsy-download {
    display: none;
    width: 310px;
    height: 170px;
    position: absolute;
    top: 32px;
    left: -1px;
    background: white;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    z-index: 1000;
}
.header-right .mobile-show .mobile-ehsy-download .mobile-code {
    position: absolute;
    width: 130px;
    height: 130px;
    top: 20px;
    left: 18px;
}
.header-right .mobile-show .mobile-ehsy-download .saoyisao {
    position: absolute;
    left: 158px;
    top: 25px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #333;
    cursor: default;
}
.header-right .mobile-show .mobile-ehsy-download .shoujigouwu {
    position: absolute;
    left: 158px;
    top: 48px;
    margin-bottom: 10px;
    font-size: 12px;
    color: #007857;
    cursor: default;
}
.header-right a {
    font-size: 12px;
    color: #666;
}
.header-right .mobile-show .mobile-ehsy-download .mo-ios-span {
    position: absolute;
    top: 117px;
    left: 159px;
    font-family: "Microsoft YaHei","黑体";
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.header-right .mobile-show .mobile-ehsy-download .mo-android-span {
    position: absolute;
    top: 117px;
    left: 210px;
    font-family: "Microsoft YaHei","黑体";
    font-size: 12px;
    color: #333;
    cursor: pointer;
}
.header-right .my-ehsy-show .my-ehsy {
    display: none;
    position: absolute;
    width: 294px;
    height: 110px;
    top: 36px;
    left:693px;
    padding: 0 10px 15px 10px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
    z-index: 1000;
}
.header-right .my-ehsy-show:hover{
    background: #fff;
    border:1px solid #ddd;
    border-bottom: none;
}
.header-right .my-ehsy-show .my-ehsy ul .orders {
    float: left;
    width: 98px;
}
.header-right .my-ehsy-show .my-ehsy li {
    position: relative;
    line-height: 25px;
}
.header-right .my-ehsy-show .my-ehsy ul .orders a {
    position: relative;
    padding-left: 20px;
    line-height: 38px;
    height: 38px;
}
.header-right .my-ehsy-show .my-ehsy ul .orders i {
    margin-right: 5px;
    display: inline-block;
    top: -9px;
    position: absolute;
    left: 0px;
}
/**/

.header-car{
    height:40px;
    margin:31px auto 0px;
    position: relative;
    width:1200px;
}
.header-logo{
    width:331px;
    height:40px;
    position: absolute;
}
.header-logo1{
    width:331px;
    height:40px;
    font-size: 20px;
}
.header-cen{
    width:618px;
    height:40px;
    background:#fff;
    margin:0 auto;
    vertical-align: top;
    position: relative;
    left:40px;
}
.header-car .header-gou a:hover .header-gou-1{
    display:block;
}
.header-cen .header-cen-input{
    border-color: #cccccc currentColor #ccc #ccc;
    border-image:none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    box-sizing: content-box;
    color:#666;
    float:left;
    height:38px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    width:494px;  
}
.header-cen .header-cen-input:hover{
    border:1px solid #2e9b64;
}
 .header-cen .header-cen-submit{
    background: #2e9b64;
    color:#fff;
    float:left;
    cursor: pointer;
    height:40px;
    line-height: 38px;
    text-align: center;
    width:100px;
    font-size: 18px;
} 
.header-cen .icon-camera {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 115px;
    z-index: 2;
}
.tooltiptext {
    font-style: normal;
    display:none;
    width: 150px;
    height: 24px;
    line-height: 24px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px;
}
.header-cen .hot-word{
     font-size: 12px;
     height:15px;
     overflow: hidden;
     width:610px;
     padding-top: 5px;
}
.header-cen .hot-word li{
    float:left;
    margin-right: 5px;
}
.header-cen .hot-word li .first-link{
    color:#e60012;
}
.header-gou{
    height:40px;
    right:0;
    top:0;
    width:200px;
    position: absolute;
}
.header-gou .cart-wrap{
    background: #fff;
    color:#333;
    float:right;
    line-height: 40px;
    margin-left: 15px;
    text-align: center;
    width:160px;
    border:1px solid #eee;
}
.header-gou .cart-wrap i{
    background: url(../images/cart2.png);
    display:inline-block;
    height:24px;
    margin:0 3px -5px 3px;
    width:24px;
}
.header-gou .cart-num{
    background-color: #ff7200;
    font-size:12px;
    width:25px;
    border-radius: 8px;
    text-align:center ;
    color:#fff;
    padding:1px 8px;
}
.header-gou .header-gou-1{
    display:none;
    background-color: #ffffff;
    height: 60px;
    text-align: center;
    width: 355px;
    border: 1px solid #eee;
    cursor: pointer;
    display: none;
    right: 0px;
    position: absolute;
    top: 40px;
    z-index: 100; 
}
.header-gou .header-gou-1 span{
    float: left;
    line-height: 60px;
    margin-left: 10px;
}
/**/
.content-menu{
    width:1200px;
    height:82px;
    margin:0 auto;
}
.menu-t{
    height:40px;
    width:220px;
    position: relative;
}
.menu-bn{
    height:40px;
    position: absolute;
    top:42px;
    width:220px;
    z-index: 10;
}
.menu-all{
    cursor: pointer;
    display:inline-block;
    float:left;
    height:40px;
    position: relative;
    vertical-align: top;
    width:220px;
    left:0;
}
.menu-all .menu-box{
    background: #2e9b64;
    color:#fff;
    height:40px;
    padding-left: 10px;
    position: relative;
    z-index: 10;
    vertical-align: middle;
}
.menu-all .menu-box .menu-box-span{
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    height:40px;
    line-height: 40px;
}
.menu-all .menu-box .menu-box-span .sprite-list{
     margin-right: 10px;
     margin-bottom: -2px;
     background-position: 0 0;
}
.menu-body{
    width: 1200px;
    margin: 0 auto;
    z-index: 20;
    height:41px;
    border-bottom: 2px solid #2e9b64;
}
.menu-body ul {
    padding-left: 230px;
}
.menu-body ul li {
    line-height: 40px;
    height: 40px;
    margin-left: 8px;
    margin-right: 8px;
    font-size: 14px;
    float: left;
    width: 85px;
    text-align: center;
}
.menu-body ul li a:hover{
     color:#2e9b64;
     border-bottom: 1px solid #2e9b64;
}
.menu-body ul .menu-hot img {
    position: absolute;
    width: 14px;
    top: 7px;
    right: 13px;
}
.menu-body ul .menu-hot {
    position: relative;
}
/*中间上*/
.layout-product-info {
    width: 1200px;
    margin: 0 auto;
}
.crumbs {
    color: #333333;
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 14px;
    height: 54px;
    line-height: 54px;
    margin: 0 auto;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
script {
    display: none;
}
.crumbs a {
    color: #000;
}
.layout-product-info .product-info {
    border: 1px solid #dddddd;
    font-size: 12px;
}
.layout-product-info .product-zoom {
    display: inline-block;
    margin-right: 35px;
    position: relative;
    width: 350px;
}
.layout-product-info .pic-zoom {
    width: 350px;
}
.jqzoom {
    text-decoration: none;
    float: left;
}
.zoomPad {
    position: relative;
    float: left;
    z-index: 1;
    cursor: crosshair;
    width:350px;
    height:350px;
}
fieldset, img {
    border: 0px;
    vertical-align: middle;
}
.zoomPup {
    cursor: move;
    background: url(../images/move-bg.png) repeat;
    background-color: #FFF;
    -moz-opacity: 0.6;
    opacity: 0.6;
    filter: alpha(opacity = 60);
    z-index: 120;
    position: absolute;
    border: 1px solid #CCC;
    z-index: 101;
    cursor: crosshair;
}
.zoomWindow {
    position: absolute;
    left: 110%;
    top: 40px;
    background: #FFF;
    height: auto;
    z-index: 110;
}
.zoomWrapper {
    position: relative;
    border: 1px solid #999;
    z-index: 110;
}
.zoomWrapperImage {
    display: block;
    position: relative;
    overflow: hidden;
    z-index: 110;
}
.zoomWrapperImage img {
    border: 0px;
    display: block;
    position: absolute;
    z-index: 101;
}
.zoomPreload {
    -moz-opacity: 0.8;
    opacity: 0.8;
    filter: alpha(opacity = 80);
    color: #333;
    font-size: 12px;
    font-family: Tahoma;
    text-decoration: none;
    border: 1px solid #CCC;
    background-color: white;
    padding: 8px;
    text-align: center;
    background-image: url(../images/zoomloader.gif);
    background-repeat: no-repeat;
    background-position: 43px 30px;
    z-index: 110;
    width: 90px;
    height: 43px;
    position: absolute;
    top: 0px;
    left: 0px;
}
.layout-product-info .pic-zoom-list {
    margin-left: 5px;
}
.layout-product-info .product-info .slider {
    width: 350px;
    height: 52px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
    float: left;
    margin-top: 20px;
}
.layout-product-info .product-info .slider .slider-ul {
    width: 320px;
    height: 52px;
    margin: 0 auto;
    overflow: hidden;
    position: relative;
}
.layout-product-info .product-info .sliderbox {
    position: absolute;
}
.layout-product-info .pic-small-list li {
    float: left;
    padding: 0 6px 0 7px;
}
.layout-product-info .pic-small-list li a {
    border: 1px solid #fff;
    display: block;
}
.layout-product-info .pic-small-list li .zoomThumbActive {
    border: 1px solid #2e9b64;
}
.layout-product-info .pic-small-list li img {
    width: 49px;
}
.layout-product-info .product-info .slider .prev, .product-info .slider .next {
    position: absolute;
    top: 0;
    padding-top: 13px;
    cursor: pointer;
    width: 15px;
    height: 39px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}
.layout-product-info .product-info .slider .prev {
    left: 0;
}
i.icon-slide-arrow {
    background-image: url(../images/slide-arrow.png);
    display: inline-block;
    vertical-align: middle;
}
.layout-product-info .product-info .slider .next {
    right: 0;
    left: auto;
}
i.icon-slide-arrow {
    background-image: url(../images/slide-arrow.png);
    display: inline-block;
    vertical-align: middle;
}
i.icon-slide-arrow-right {
    width: 15px;
    height: 26px;
    background-position: -15px 0;
}
.clear {
    clear: both;
}
.layout-product-info .collectOption {
    margin: 20px 20px;
}
.layout-product-info .collectOption a, .layout-product-info .collectOption span {
    color: #666;
}
i.icon-product-info {
    background-image: url(../image/icon-product-info.png);
    display: inline-block;
    vertical-align: middle;
}
i.icon-product-info-collect {
    background-position: 0 -150px;
    width: 12px;
    height: 10px;
    display: inline-block;
    margin-right: 5px;
    margin-top: -2px;
}
/*中间*/
.layout-product-info .product-info-detail {
    display: inline-block;
    margin-left: 25px;
    margin-right: 21px;
    vertical-align: top;
    width: 559px;
}
.layout-product-info .product-info-detail {
    display: inline-block;
    margin-left: 25px;
    margin-right: 21px;
    vertical-align: top;
    width: 559px;
}
.layout-product-info .product-info-detail h3, .product-info-detail h1 {
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 18px;
    font-weight: bold;
    line-height: 26px;
    margin: 18px 0;
}
.layout-product-info .product-info-detail .price {
    background-color: #f0f0f0;
    font-family: "Century Gothic",sans-serif;
    height: auto;
    min-height: 60px;
    padding: 10px 15px 10px 15px;
}
.clearfix:before, .clearfix:after {
    content: "";
    display: table;
}
.layout-product-info .product-info-detail .line-price {
    line-height: 30px;
    font-size: 14px;
}
.layout-product-info .product-info-detail .show-price {
    color: #e60012;
    font-size: 24px;
    font-weight: bold;
}

.layout-product-info .product-info-detail-other .attr-title .style-description {
    float: left;
    width: 60px;
    color: #999;
    text-align: justify;
    text-align-last: justify;
}
.layout-product-info .product-info-detail-other .attr-title {
    line-height: 30px;
    height: 30px;
}
.style-seperator {
    color: #999;
}
i.icon-product {
    background-image: url(../images/icon-product.png);
    display: inline-block;
    vertical-align: middle;
}
i.icon-product-mini-today {
    width: 56px;
    height: 16px;
    background-position: 0 0;
}
.product-info-detail-other .delivery-time-tips {
    color: #538fff;
    margin-left: 10px;
    cursor: pointer;
}
.layout-product-info .add-to-cart {
    height: 40px;
}
.layout-product-info .product-info-detail-other .add-to-cart {
    margin-bottom: 30px;
}
.layout-product-info .buyCountValue {
    height: 40px;
    margin-top: 17px;
}
.layout-product-info .buyCountValue .item-num-input {
    border: 1px solid #ccc;
    float: left;
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 12px;
    height: 38px;
    text-align: center;
    width: 40px;
}
.layout-product-info .adjust-button {
    float: left;
    width: 18px;
    background-color: #eeeeee;
    height: 40px;
}
.layout-product-info .buyCountValue .item-num-input {
    border: 1px solid #ccc;
    float: left;
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 12px;
    height: 38px;
    text-align: center;
    width: 40px;
}
.buyCountValue .a-sub, .buyCountValue .a-add {
    display: block;
    width: 18px;
    height: 20px;
    line-height: 20px;
    background-color: #eeeeee;
    border-left: none;
    text-align: center;
}
.layout-product-info .buyCountValue .a-sub, .buyCountValue .a-add {
    border-left: medium none;
    display: block;
    height: 20px;
    line-height: 20px;
    text-align: center;
    width: 18px;
}
.layout-product-info .add-to-cart-btn {
    width: 136px;
    height: 40px;
    line-height: 40px;
    font-size: 18px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    background-color: #2e9b64;
    text-align: center;
    color: #fff;
    border-radius: 4px;
    cursor: pointer;
    float: left;
    margin-left: 10px;
}
i.icon-product-info-addcart {
    width: 28px;
    height: 24px;
    background-position: 0 -90px;
    margin-right: 5px;
}
i.icon-product-info-addcart {
    width: 28px;
    height: 24px;
    background-position: 0 -90px;
    margin-right: 5px;
}
.layout-product-info .product-info-detail-other .payment .pay-method {
    margin-left: 20px;
}
.ev-collect{
    width:65px;
    height:16px;
}
.layout-product-info .product-brand .special .title {
    color: #646262;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding-left: 72px;
}
i.icon-product-info {
    background-image: url(../images/icon-product-info.png);
    display: inline-block;
    vertical-align: middle;
}
i.icon-product-info-payway-1 {
    width: 20px;
    height: 20px;
    background-position: 0 -50px;
}
i.icon-product-info-payway-2 {
    width: 20px;
    height: 20px;
    background-position: -20px -50px;
}
i.icon-product-info-payway-0 {
    width: 24px;
    height: 20px;
    background-position: -40px -50px;
}
i.icon-product-info-payway-99 {
    width: 20px;
    height: 20px;
    background-position: -64px -50px;
}
.layout-product-info .product-brand {
    display: inline-block;
    font-size: 12px;
    vertical-align: top;
    width: 200px;
}
.layout-product-info .product-brand .banner {
    border-bottom: 1px solid #f0f0f0;
    padding-bottom: 10px;
    width: 100%;
}
.layout-product-info .product-brand .banner .banner-image {
    display: block;
    padding: 10px;
    text-align: center;
}
.layout-product-info .product-brand .banner .banner-image img {
    width: 100%;
}
.layout-product-info .product-brand .banner .banner-name {
    color: #2e9b64;
    display: block;
    font-size: 12px;
    margin: 0 auto;
    text-align: center;
}
.ayout-product-info .product-brand .special .title {
    color: #646262;
    display: block;
    font-size: 14px;
    font-weight: bold;
    line-height: 40px;
    height: 40px;
    padding-left: 72px;
}
.bdshare-button-style1-16 {
    height:0px;

}
.layout-product-info .product-brand .special .wrap {
    padding-left: 30px;
    border-top: 1px dotted #f0f0f0;
}
.layout-product-info .product-brand .special .wrap li {
    line-height: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
}
i.icon-product-info-ts-1 {
    width: 16px;
    height: 16px;
    background-position: 0 -70px;
}
.layout-product-info .product-brand .special .wrap li span {
    margin-left: 10px;
    vertical-align: middle;
}
i.icon-product-info-ts-2 {
    width: 16px;
    height: 16px;
    background-position: -16px -70px;
}
i.icon-product-info-ts-3 {
    width: 16px;
    height: 16px;
    background-position: -32px -70px;
}
i.icon-product-info-ts-4 {
    width: 16px;
    height: 16px;
    background-position: -48px -70px;
}
/*中部下左*/
.detailBodyWrap .detailBodyWrap-l {
    float: left;
    height: 100%;
    margin-right: 10px;
}
.detailBodyWrap {
    margin-top: 15px;
    overflow: hidden;
}
.detailBodyWrap .productLike {
    width: 200px;
    min-height: 226px;
    border: 1px solid #dddddd;
    margin-bottom: 40px;
}
.productLike .title {
    height: 32px;
    border-bottom: 1px solid #dddddd;
    font-size: 14px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    color: #333333;
    line-height: 36px;
    background-color: #eee;
    text-align: center;
}
.productLike .tip {
    padding-top: 20px;
    text-align: center;
    color: #339A66;
}
.productLike .likeProduct {
    height: 226px;
    border-bottom: 1px dashed #dddddd;
    margin: 0 10px;
}
.likeProduct .image {
    height: 102px;
    width: 102px;
    margin: 20px auto 0px auto;
    /* border: 1px solid #dddddd; */
    background-color: #eeeeee;
}
.likeProduct .name {
    font-size: 12px;
    color: #007857;
    padding-top: 2px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 2px;
    overflow: hidden;
    padding-top: 8px;
    height: 44px;
}
.productLike .prouductlike-name {
    line-height: 1.8;
}
.likeProduct .name a:hover{
    border-bottom: 1px solid #333;
}
.likeProduct .price {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    font-size: 12px;
    color: #999;
    line-height: 12px;
    padding-top: 0px;
    padding-bottom: 15px;
}
.similar-list .s-sku li::before {
    content: "·";
    margin-right: 5px;
}
.likeProduct .buyWrap {
    text-align: center;
    height: 24px;
}
.likeProduct .buyWrap a:hover {
    background-color:rgb(46, 155, 100) ;
    color:#fff;
}
.likeProduct .buyWrap .buy {
    color: #999999;
    font-size: 12px;
    border: 1px solid #999999;
    background-color: #fff;
    border-radius: 2px;
    padding: 5px 15px;
    display: inline-block;
    line-height: 12px;
    cursor: pointer;
}
.productLike .likeProduct:last-child {
    border-bottom: 0px;
}
.similar-recommend {
    width: 200px;
    border: 1px solid #dddddd;
}
.similar-recommend .title-tabs {
    line-height: 40px;
}
.similar-recommend .title-tabs span {
    display: inline-block;
    width: 98px;
    background-color: #f5f5f5;
    border-bottom: solid 1px #dddddd;
    text-align: center;
    color: #999;
    cursor: pointer;
}
.similar-recommend .title-tabs .active {
    background-color: #ffffff;
    border-bottom: solid 1px #ffffff;
    color: #666;
}
.similar-list {
    padding: 10px 20px 20px;
}
.similar-list .s-sku {
    line-height: 28px;
}
.similar-list .s-sku li {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
/*中部下右*/
.detailBodyWrap .mainDetail {
    float: right;
    width: 985px;
}
.mainDetail .mainDetail-tabs {
    height: 36px;
    background-color: #eeeeee;
    border: 1px solid #ddd;
    position: relative;
    height: 100%;
    padding-left: 8px;
}
.mainDetail-tabs .tabsTitle {
    display: inline-block;
    line-height: 36px;
    height: 36px;
    vertical-align: top;
    padding: 0 15px;
    border-right: 1px solid #ddd;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    color: #333;
    cursor: pointer;
    margin-left: -8px;
    font-size: 14px;
}
.mainDetail-tabs .tabsTitle.active {
    height: 36px;
    border-top: 2px solid #339A66;
    color: #339A66;
    font-weight: bold;
    background-color: #fff;
}
.mainDetail .mainDetail-content {
    overflow-y: hidden;
}
.mainDetail-content {
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
    color: #666;
}
.tabContent.product-info-css {
    padding: 0;
     background-color: #f7f7f7; 
    position: relative;
}
.tabContent.declaraction {
    border: none;
    padding: 0;
}
.tabContent {
    display: none;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}
.tabContent .tec-container {
    position: relative;
    padding: 20px;
    border: 1px solid #ddd;
    border-top: none;
}.tabContent.product-info-css .tec-content {
    overflow: hidden;
}

.tec-content {
    width: 840px;
    background-color: #fff;
    float: left;
}
.tabContent.product-info-css .tec-content p {
    margin: 5px 0;
}
.tabContent.product-info-css .tec-content img {
    max-width: 100%;
}
.tec-sidebar {
    width: 103px;
    float: right;
    padding: 80px 0 0 0;
    position: relative;
}
.tec-fixed {
    position: fixed;
    top: 80px;
}
.tec-sidebar .tec-sidenav > li {
    padding-left: 10px;
    margin-bottom: 36px;
    height: 22px;
    line-height: 22px;
}
.tec-sidebar .tec-sidenav > li i {
    display: inline-block;
    width: 14px;
    vertical-align: top;
    margin-top: 5px;
}
.tec-tittle {
    border-bottom: 3px solid #007857;
    position: relative;
    margin-left: 17px;
    margin-bottom: 10px;
}
.tec-tittle > .name {
    float: left;
    background-color: #007857;
    color: #fff;
    font-weight: bold;
    font-size: 15px;
    height: 30px;
    line-height: 33px;
    padding: 0 10px;
    position: relative;
}
.tec-tittle > .name:before {
    content: "";
    position: absolute;
    left: -17px;
    height: 33px;
    width: 12px;
    background-color: #007857;
    display: block;
}
.tec-tittle span {
    display: inline-block;
}
.tec-description table {
    max-width: 790px;
}
.tec-content table {
    margin-left: auto;
    margin-right: auto;
}
.mainDetail table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
}
.tec-content td, .tec-content li, .tec-content p {
    font-size: 13px;
    color: #333;
}

.tabContent.product-info-css .tec-content p {
    margin: 5px 0;
}

i.icon-product-info {
    background-image: url(../images/icon-product-info.png);
    display: inline-block;
    vertical-align: middle;
}
.tec-sidebar .tec-sidenav > li a {
    padding-left: 5px;
    font-size: 16px;
    color: #999;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
}
.mainDetail-content .specsParameter-wrap {
    width: 954px;
    margin: 15px auto;
    font-size: 12px;
}
.specsParameter-wrap .standardTable {
    width: 100%;
    height: 100%;
    border-left: 1px solid #dddddd;
}

.mainDetail table {
    margin-bottom: 10px;
    border-collapse: collapse;
    display: table;
}
.specsParameter-wrap .tableHead {
    border: 1px solid #dddddd;
}
.specsParameter-wrap td {
    padding-left: 10px;
    border-right: 1px solid #dddddd;
    border-bottom: 1px solid #dddddd;
    height: 25px;
    line-height: 25px;
}

.mainDetail td, .mainDetail th {
    background: white;
    padding: 5px 10px;
    border: 1px solid #DDD;
}
.list-container {
    margin-top: 7px;
    border: 1px solid #ddd;
    padding: 20px;
}
.list-container .content-list {
    margin-top: 10px;
    margin-right: 27px;
    padding: 0;
}
.list-container .content-list .title {
    font-size: 14px;
    color: #007857;
    margin-bottom: 10px;
    font-weight: bold;
}
.list-container .content-list .title i {
    margin-right: 5px;
}

i.icon-product-info-0 {
    background-position: 0 0;
    width: 28px;
    height: 28px;
}
.list-container .content-list .content {
    margin-left: 32px;
    font-size: 12px;
    margin-bottom: 10px;
}
.list-container .content-list .content .sub-content {
    margin-top: 7px;
}
i.icon-product-info-1 {
    background-position: -28px 0;
    width: 28px;
    height: 28px;
}
i.icon-product-info-2 {
    background-position: -56px 0;
    width: 28px;
    height: 28px;
}
.comment {
    margin-top: 10px;
}
.comment .comment-tab {
    overflow: hidden;
    height: 28px;
    background-color: #f7f7f7;
    border: 1px solid #e7e7e7;
    line-height: 28px;
}
.comment .comment-tab li {
    float: left;
    margin-left: 30px;
    font-size: 12px;
    clear: inherit;
}
.comment .comment-tab li.active > a {
    color: #339a66;
}

.comment .comment-tab li a {
    cursor: pointer;
}
.comment .promise {
    padding: 9px 0 18px 16px;
    background-color: #fff;
    border: 1px solid #e7e7e7;
    border-top: none;
    font-size: 12px;
}
.comment .promise strong {
    font-size: 14px;
    color: #3d3d3d;
    font-weight: normal;
}
.comment .promise ul {
    margin-top: 8px;
    list-style: disc;
    color: #3d3d3d;
}
.comment .promise ul li {
    margin-bottom: 5px;
    margin-left: 15px;
    list-style: disc;
}
.comment .promise ul li a {
    color: #0B65FD;
}
.comment .promise .discuss {
    margin-left: 25px;
    margin-top: 14px;
}
.comment .promise .discuss a {
    width: 100px;
    display: block;
    height: 25px;
    border: 1px solid #ccc;
    border-radius: 4px;
    line-height: 25px;
    text-align: center;
    color: #626262;
    background-color: #f7f7f7;
    cursor: pointer;
}
.comment .comment-list {
    padding: 10px 0;
    font-size: 12px;
}
.comment .comment-list > ul > li {
    padding: 10px 0;
    border-bottom: 1px dotted #e4e4e4;
}
.detailBodyWrap .detailBodyWrap-l {
    float: left;
    height: 100%;
    margin-right: 10px;
}
.detailBodyWrap .detailBodyWrap-l {
    float: left;
    height: 100%;
    margin-right: 10px;
}
.layout-module-product .slider .prev, .layout-module-product .slider .next {
    position: absolute;
    top: 0;
    padding-top: 165px !important;
    cursor: pointer;
    width: 15px;
    height: 39px;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
}


/*下部上*/
.layout-footer-content .footer-box {
    background: #f3f3f3;
    margin-top: 30px;
}
.layout-footer-content .footer-box .footer-a-bd {
    height: 88px;
    line-height: 88px;
    margin: 0 auto;
    overflow: hidden;
    width: 1200px;
}
.layout-footer-content .footer-box .footer-a-bd div {
    float: left;
    width: 25%;
}
.layout-footer-content .footer-box .icon-slogans-01 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll 0 0;
}
.layout-footer-content .footer-box .icon-slogans-01, .icon-slogans-02, .icon-slogans-03, .icon-slogans-04 {
    display: inline-block;
    height: 48px;
    vertical-align: middle;
    width: 48px;
}
.layout-footer-content .footer-box .footer-a-span, .layout-footer-content .footer-box .footer-b-span {
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 16px;
}
.footer-a-span {
    margin-left: 10px;
}
.footer-b-span {
    margin-left: 10px;
}
.layout-footer-content .footer-box .icon-slogans-02 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll -48px 0;
}
.layout-footer-content .footer-box .icon-slogans-03 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll 0 -48px;
}
.layout-footer-content .footer-box .icon-slogans-04 {
    background: url(../images/ehsy_note_icon.png) no-repeat scroll -48px -48px;
}
/*下部中*/
.footer-b {
    width: 100%;
    color: #333;
}
.footer-b-bd {
    position: relative;
    width: 1200px;
    margin: 0 auto;
    overflow: hidden;
}
.foot-help {
    margin-bottom: 10px;
}
.footer-b-li {
    float: left;
    width: 222px;
    min-height: 180px;
}
.footer-b-li-title {
    margin-top: 30px;
    margin-bottom: 20px;
    font-family: "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    font-size: 16px;
    line-height: 16px;
}
.footer-b-li li {
    margin-bottom: 10px;
    font-size: 12px;
    line-height: 12px;
}
.footer-b-li li a {
    color: #666;
}
.footer-b-li-2 {
    float: right;
    width: 270px;
    margin-top: 30px;
    text-align: right;
}
.foot-phone {
    height: 48px;
    margin-bottom: 15px;
}
.foot-phone img {
    vertical-align: top;
}
.footer-wx {
    width: 48px;
    height: 48px;
}
.foot-phone>div {
    display: inline-block;
    width: 160px;
}
.foot-phone-1 {
    font-size: 22px;
    font-weight: 700;
    line-height: 22px;
    margin-bottom: 10px;
}
.foot-phone-2 {
    line-height: 16px;
    margin-top: 16px;
}
.foot-phone-1, .foot-phone-2 {
    font-family: "Century Gothic",sans-serif;
}
.foot-download div {
    float: right;
    width: 99px;
    margin-left: 15px;
    text-align: center;
}
.foot-download img {
    display: inline-block;
    width: 80px;
    height: 80px;
    margin-bottom: 2px;
}
.foot-download span {
    font-size: 12px;
    float: left;
}
.copyright-ul {
    margin: 15px 0;
    font-size: 12px;
    line-height: 12px;
    overflow: hidden;
}
.copyright-ul a {
    padding: 0 20px;
}
.copyright-ul span {
    color: #ddd;
}
.copyright-state {
    margin-bottom: 16px;
    font-size: 12px;
    line-height: 12px;
    color: #999;
}
.credit-bar {
    margin-top: 16px;
    margin-bottom: 60px;
}
.credit-bar a {
    display: inline-block;
    overflow: hidden;
    margin-right: 16px;
}
.credit-bar a img {
    width: auto;
}
/*下部下*/
.layout-right-bar {
    height: 100%;
    margin: 0;
    padding: 0;
    position: fixed;
    right: 0;
    top: 0;
    width: 0;
    z-index: 999;
}
 .ehsy-sidebar {
    background-color: #2e9b64;
    height: 100%;
    position: absolute;
    right: 0;
    top: 0;
    width: 4px;
    z-index: 999;
}
 .ehsy-sidebar-tabs {
    margin-top: -76px;
    position: absolute;
    right: 0;
    top: 50%;
}
 .ehsy-sidebar-tabs > div {
    background-color: #2e9b64;
    border-radius: 4px;
    height: 36px;
    margin-bottom: 2px;
    position: relative;
    width: 40px;
}
 .ehsy-sidebar-tabs > div div {
    height: 36px;
    left: 0;
    position: absolute;
    width: 36px;
}
 .ehsy-sidebar i {
    display: block;
    margin: 6px auto;
    max-width: 24px;
    cursor: pointer;
}
 .icon-rb-account {
    background-position: 0 0;
}
.icon-right-bar {
    background-image: url(../images/icon-bar.png);
    height: 24px;
    width: 24px;
}
 .sider_cart_num {
    color: #fff;
    display: inline-block;
    font-family: "Century Gothic",sans-serif;
    font-size: 12px;
    left: 0;
    position: absolute;
    text-align: center;
    top: 0;
    width: 100%;
}
 .icon-rb-cart {
    background-position: 0 -24px;
}
 .icon-rb-collection {
    background-position: 0 -48px;
}
 div#nb_icon_wrap_qiye_new img {
    display: inline-block;
    height: 36px;
    width: 36px;
    cursor: pointer;
}
 .ehsy-sidebar-footer {
    background-color: #e1e1e1;
    border-radius: 4px;
    bottom: 10px;
    cursor: pointer;
    display: none;
    height: 36px;
    position: absolute;
    right: 6px;
    width: 36px;
}
 .icon-rb-top {
    background-position: 0 -72px;
}
 .ehsy-sidebar-footer span {
    color: #fff;
    display: none;
    font-size: 12px;
    line-height: 14px;
    margin: 4px auto;
    width: 24px;
}
/*顶部隐藏*/
.nav-thumbnail-container {
    -moz-box-shadow: 0 2px 4px rgba(0,0,0,.2);
    box-shadow: 0 2px 4px rgba(0,0,0,.2);
    width: 100%;
    height: 60px;
    background: #fff;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    display: none;
}
/*顶部隐藏左*/
.nav-logo {
    float: left;
    width: 92px;
    height: 40px;
    margin-left: 28px;
}
.nav-logo .index-logo {
    float: left;
    margin-right: 68px;
    line-height: 60px;
}
.nav-logo .index-logo img {
    width: 92px;
    height: 40px;
}
/*顶部隐藏中*/
.nav-thumbnail-container .menu.nav-menu {
    float: left;
    height: 40px;
    position: relative;
    width: 125px;
    margin: 0 auto;
}
.menu-all.nav-menu-all {
    width: 125px;
}
.menu-all {
    cursor: pointer;
    display: inline-block;
    float: left;
    height: 40px;
    position: relative;
    vertical-align: top;
    width: 220px;
    z-index: 10;
    left: 0;
}
.menu-all.nav-menu-all .nav-menu-all-span {
    font-size: 14px;
}
.nav-thumbnail-container .menu-all-span {
    padding-left: 10px;
    line-height: 60px;
    display: inline-block;
    text-overflow: ellipsis;
    white-space: nowrap;
    text-align: left;
    color: #007857;
}
.menu-all.nav-menu-all .nav-menu-chevron-down {
    float: right;
    width: 20px;
    height: 15px;
    display: inline-block;
    margin-right: 9px;
    margin-top: 20px;
    background-image: url(../images/category_arrow_d.png);
    background-repeat: no-repeat;
}
/*顶部隐藏右*/
.index-search-div.nav-index-search-div {
    float: left;
    width: 900px;
    height: auto;
}
.index-search-div {
    width: 1200px;
    height: 112px;
    margin: 0 auto;
}
.index-search-div .js-fix-bar-search {
    float: left;
    margin: 10px 50px 0 0;
}
.index-search-div .js-fix-bar-search .layout-search {
    width: 518px;
}
.layout-search.search-wrap {
    background: #ffffff none repeat scroll 0 0;
    height: 40px;
    margin: 0 auto;
    position: relative;
    vertical-align: top;
    width: 618px;
    left: 40px;
}
.index-search-div .js-fix-bar-search .layout-search .glob-search-input-div {
    width: 392px;
}
.layout-search.search-wrap .glob-search-input-div {
    border-color: #cccccc currentcolor #cccccc #cccccc;
    border-image: none;
    border-style: solid none solid solid;
    border-width: 1px 0 1px 1px;
    box-sizing: content-box;
    color: #666666;
    float: left;
    height: 38px;
    line-height: 38px;
    padding-right: 20px;
    width: 494px;
    font-family: "Microsoft YaHei", "黑体", sans-serif;
}
.layout-search.search-wrap .icon-camera {
    display: inline-block;
    height: 24px;
    width: 24px;
    background-image: url(../images/camera.png);
    background-repeat: no-repeat;
    position: absolute;
    top: 10px;
    right: 115px;
    z-index: 2;
}
.tooltip .tooltiptext {
    font-style: normal;
    visibility: hidden;
    width: 150px;
    height: 24px;
    line-height: 24px;
    background-color: black;
    color: #fff;
    text-align: center;
    border-radius: 3px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    top: 150%;
    left: 50%;
    margin-left: -75px;
}
.nav-my-ehsy-show .nav-my-ehsy {
    display: none;
    position: absolute;
    width: 300px;
    height: 100px;
    top: 60px;
    left: -1px;
    padding: 10px 10px 20px 20px;
    border-left: 1px solid #ddd;
    border-right: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    background: #fff;
}
.index-search-div .js-fix-bar-search .layout-search .glob-search-input {
    width: 362px;
}
.layout-search.search-wrap .glob-search-input {
    border-width: 0;
    color: #666666;
    float: left;
    height: 38px;
    line-height: 38px;
    padding-left: 10px;
    padding-right: 10px;
    width: 464px;
    font-family: "Microsoft YaHei", "黑体", sans-serif;
}
.layout-search.search-wrap .glob-search-submit {
    background: #2e9b64 none repeat scroll 0 0;
    color: #ffffff;
    cursor: pointer;
    float: left;
    height: 40px;
    line-height: 38px;
    text-align: center;
    width: 100px;
    font-size: 18px;
    font-family: "Hiragino Sans GB", "Microsoft YaHei", "黑体", sans-serif;
}
.nav-my-ehsy-show {
    position: relative;
    width: 100px;
    margin-right: 0;
    float: left;
    font: 14px "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    line-height: 60px;
    margin-left: 40px;
}
.nav-my-ehsy-show .nav-ehsy-a {
    width: 100px;
    height: 60px;
    display: inline-block;
}
.nav-my-ehsy-show .nav-ehsy-a a {
    color: #333;
    font: 12px "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
    cursor: pointer;
}
.nav-my-ehsy-show .nav-ehsy-a i {
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
}
.index-search-div i.icon-header-bar-my {
    background-position: 0 0;
    display: inline-block;
    vertical-align: middle;
    margin-right: 3px;
    margin-top: -2px;
}
i.icon-header-bar {
    background-image: url(../images/icon-header-bar.png);
    width: 20px;
    height: 20px;
    background-position: 20px -20px;
}
.index-search-div.nav-index-search-div .s-carts {
    height: 60px;
    margin-top: 0;
    border: none;
    line-height: 60px;
}
.index-search-div .s-carts {
    float: right;
    width: 160px;
    height: 40px;
    margin-top: 30px;
    position: relative;
    cursor: pointer;
    border: 1px solid #eee;
}
.index-search-div .s-carts span.cart-text-before {
    display: inline-block;
    line-height: 38px;
}
.nav-index-search-div .s-carts .s-carts-text {
    color: #333;
    font: 14px "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
}
.index-search-div .s-carts .cart-num {
    background-color: #ff7200;
    font-size: 12px;
    display: inline-block;
    width: 25px;
    border-radius: 8px;
    text-align: center;
    color: #fff;
}
#nb_icon_wrap_service {
    float: right;
    height: 60px;
    line-height: 60px;
}
#nb_icon_wrap_service img {
    width: 30px;
    height: 30px;
    margin-right: -7px;
    margin-top: -4px;
}
#nb_icon_wrap_service span {
    color: #333;
    font: 14px "Hiragino Sans GB","Microsoft YaHei","黑体",sans-serif;
}
#nb_icon_wrap_service {
    float: right;
    height: 60px;
    line-height: 60px;
    margin-right: 28px;
}

.layer .modal {
    position: fixed;
    min-width: 300px;
    text-align: center;
    background: #fff;
    z-index: 9999;
    left: 40%;
    top: 30%;
    opacity: 1;
    filter: alpha(opacity = 100);
    border-top: 2px solid #ff7200;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5);
    z-index: 99999;
}
.layer .modal-header {
    height: 30px;
    line-height: 30px;
    background-color: #efefef;
    border-bottom: 1px solid #e5e5e5;
    min-height: 16.43px;
    padding: 0 10px;
}
.layer.addcart .modal .modal-header {
    background-color: #fff;
    border-bottom: 0px;
}
.layer .modal-header .title {
    font-size: 14px;
    font-weight: bold;
    text-align: left;
    width: 100%;
    height: 100%;
}
.layer .modal-header .title .close {
    color: #000;
    float: right;
    font-size: 21px;
    font-weight: 700;
    line-height: 1;
    text-shadow: 0 1px 0 #fff;
    border: 0;
    margin-top: 5px;
    cursor: pointer;
    background-color: #fff;
}
.layer .modal-body {
    padding: 10px;
    line-height: 20px;
    min-height: 30px;
    max-height: 400px;
    padding-top: 0px;
}
.layer .modal-body .content {
    text-align: left;
    width: 100%;
    height: 100%;
    word-wrap: break-word;
}
.layer.addcart .modal-body .content .popup-content-main {
    font-size: 14px;
    color: #333;
    margin-left: 58px;
    padding-bottom: 5px;
}
.layer.addcart .modal-body .content .popup-content-main .popup-add-success {
    width: 24px;
    height: 24px;
    display: inline-block;
    background: url(../images/addcart.png) 0 0 no-repeat;
    margin-left: 20px;
    margin-top: 5px;
}
.layer.addcart .modal-body .content .popup-content-main span {
    vertical-align: top;
    position: relative;
    top: 8px;
    margin-left: 10px;
}
.layer.addcart .modal-body .content .popup-footer {
    height: 30px;
    padding-left: 54px;
    line-height: 30px;
    margin-bottom: 20px;
}
.layer.addcart .modal-body .content .popup-footer .jumpToCart {
    display: inline-block;
    height: 30px;
    width: 120px;
    border: 0;
    background-color: #ff7200;
    font-size: 12px;
    color: #fff;
    border-radius: 3px;
    text-align: center;
    vertical-align: middle;
}
.layer.addcart .modal-body .content .popup-footer .anotherChoose {
    font-size: 12px;
    color: #333;
    margin-left: 20px;
}
.layer.addcart .modal-body .content .anotherChoose .continue-shopping {
    color: #06c;
    margin-left: 5px;
    cursor: pointer;
}
.layer .bg {
    position: fixed;
    z-index: 9998;
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-color: #000;
    filter: alpha(opacity = 50);
    opacity: 0.5;
    z-index: 99998;
}